
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-text-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* Header Related Styles */
header{
    max-width: 1140px;
    margin: 0 auto;
}


/* Navbar Related Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* .nav-logo{
    width: 135px;
    height: 80px;
} */

.nav-items{
    display: flex;
    gap: 48px;
    list-style: none;
}

.nav-items li a{
    text-decoration: none;
    color: #8987A1;
}

.nav-items > .nav-item-1 >  a {
    color: #252432;
    font-weight: bold;
}
.nav-items > .nav-item-4 >  a {
    color: #252432;
}

.nav-logo {
    width: 135px;
    height: auto;
}


/* Banner Related Styles */
.banner{
    display: flex;
    margin: 220px 0 120px;
}

.banner-description{
    width: 570px;
    height: 299px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-title>span{
    color: #E95A08;
}
.banner-sub-title{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.banner-img{
    width: 570px;
    height: 355px;
}


/* Plants Section Style */
.plants-section{
    max-width: 1140px;
    margin: 0 auto;
}

.plants-details{
    text-align: center;
}
.plants-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}
.plants-title>span{
    color: #E95A08;
}

.plants-sub-title{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px 126px 50px;
}


.plants-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 150px;
}
.plants-card{
    max-width: 270px;
    text-align: center;
    margin-bottom: 30px;
}

.plant-price > h4,h3{
    font-size: 22;
}
.plant-price > h4{
    font-weight: 500;
}
.plant-price > h3{
    font-weight: bold;
}
.cart-btn{
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 100%;
    height: 50px;
}


/* Badge Section Styles */


.badge-img{
    width: 540px;
    height: 597px;
}
.badge{
    width: 286px;
    height: 286px;
    margin-left: -185px;
    margin-top: -125px;
    /* box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25); */
}
.badge-section{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    /* gap: 20px; */
}
.badge-details{
    margin-bottom: 30px;
}
.badge-item{
    margin-bottom: 20px;
}
.badge-title{
    font-size: 50px;
    font-weight: bold;
}
.badge-sub-title{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}


/* Join Section Related Styles */
.join-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}
.join-item {
  display: flex;
  /* align-items: center; */
}
.input-mail {
  padding: 12px 16px;
  font-size: 16px;
  width: 400px;
  border: none;
  /* border-radius: 5px; */
  outline: none;
}
.join-item button {
    width: 150px;
  padding: 12px 24px;
  /* width: 100px; */
  font-size: 16px;
  background-color: #E95A08;
  color: white;
  border: none;
  cursor: pointer;
}


/* Footer section related style */
.footer-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-1{
    color: rgba(0, 0, 0, 0.5);
}
.menu-2{
    color: rgba(0, 0, 0, 0.5);
}
.menu-3{
    color: rgba(0, 0, 0, 0.5);
}
.menu-4{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
}



/* Header Related Responsive */

@media screen and (max-width: 576px) {
    .nav-item-1,
    .nav-item-2,
    .nav-item-3 {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .nav-logo {
        width: 63px;
        height: auto;
    }

    .nav-items {
        gap: 0;
    }

    .nav-item-4 a {
        font-weight: bold;
        color: #252432;
    }

    /* Responsive banner */
    .banner{
        /* flex-direction: column; */
        flex-direction: column-reverse;
        margin: 0;
    }
    .banner-img{
        width: 100%;
        height: auto;
        margin: 0%;
    }
    .banner-description{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 32px;
        width: 100%;
        height: auto;
    }


    /* Responsive Plant Section */
    .plants-section{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 65px;
    }
    .plants-title{
        font-size: 24px;
        font-weight: bold;
    }
    .plants-sub-title{
        font-size: 14px;
        margin: 16px 28.5px 28px;
    }

    
    .plants-box{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 20px;
    }
    .plants-card{
        margin-bottom: 25px;
    }
    .plant-img{
        width: 100%;
    }

    /* Responsive Badge Section */
    .badge-section{
        flex-direction: column;
        /* width: 361px;
        height: 648px; */
    }
    .badge{
        display: none;
    }
    .badge-img{
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .badge-title{
        width: 100%;
        font-size: 24px;
        font-weight: bold;
    }
    .badge-details{
        margin: 0;
    }
}
